 /* Reseteamos la pagina */
*{
    box-sizing:border-box;
    padding: 0;
    margin: 0;
}

.fondoPagina{
    background-image: url(../assets/images/disco-vinilo-macro-foto-detalle-textura-disco-vinilo-patron-fondo_175175-626.jpg);
    z-index: -1;
}

/* Agrego una imagen en el header con efecto parallax */
.imagenCabeceraMain{
    background-image: url(../assets/images/priscilla-du-preez-rhva4q_n8CQ-unsplash.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    background-attachment:fixed;
    background-position: center;
    height: 20rem;
}

.imagenCabeceraContacto{
    background-image: url(../assets/images/microphone-tips-shutterstock@1400x1050.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    background-attachment:fixed;
    background-position: center;
    height: 20rem;
}

.imagenCabeceraMusica{
    background-image: url(../assets/images/beats\ vol.1-8.png);
    background-repeat:no-repeat;
    background-size:cover;
    background-attachment:fixed;
    background-position: center;
    height: 20rem;
}

.imagenCabeceraSobreMi{
    background-image: url(../assets/images/92bdda02-e16b-4d9c-ad4d-93eb6a5818fc.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    background-attachment:fixed;
    background-position: center;
    height: 20rem;
}

.imagenCabeceraTienda{
    background-image: url(../assets/images/mg-hihatvol1-e1573741603288.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    background-attachment:fixed;
    background-position: center;
    height: 20rem;
}

.tituloCabecera{
    font-size: 86px;
    color: white;
}

.subtituloCabecera{
    font-size:  30px;
    color: white;
}

/* Zona de footer con efecto parallax */
.piePaginaMain{

    background-image: url(../assets/images/priscilla-du-preez-rhva4q_n8CQ-unsplash.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    background-attachment:fixed;
    background-position: center;
    text-align: center;
}

.piePaginaContacto{

    background-image: url(../assets/images/microphone-tips-shutterstock@1400x1050.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    background-attachment:fixed;
    background-position: center;
    text-align: center;
}

.piePaginaMusica{

    background-image: url(../assets/images/beats\ vol.1-8.png);
    background-repeat:no-repeat;
    background-size:cover;
    background-attachment:fixed;
    background-position: center;
    text-align: center;
}

.piePaginaSobreMi{

    background-image: url(../assets/images/92bdda02-e16b-4d9c-ad4d-93eb6a5818fc.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    background-attachment:fixed;
    background-position: center;
    text-align: center;
}

.piePaginaTienda{

    background-image: url(../assets/images/mg-hihatvol1-e1573741603288.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    background-attachment:fixed;
    background-position: center;
    text-align: center;
}

.efectoZoom {
    transition: transform 0.2s ease;
    box-shadow: 0 4px 6px 0 rgba(22, 22, 26, 0.18);
    border-radius: 0;
    border: 0;
    margin-bottom: 1.5em;
  }
  .efectoZoom:hover {
    transform: scale(1.1);
  }